#include <winver.h>

IDI_ICON1 ICON "icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3FL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Magic Home Controller contributors"
            VALUE "FileDescription", "Magic Home Controller"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "Magic-Home-Controller"
            VALUE "LegalCopyright", "MIT License"
            VALUE "OriginalFilename", "Magic-Home-Controller.exe"
            VALUE "ProductName", "Magic Home Controller"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END